@using CleveCoding.Kernel.Extensions
@using CleveCoding.Permissions
@using CleveCoding.Permissions.Models

@inject IEnumerable<PermissionDescription> PermissionDescriptions

@if (Datasource.Any())
{
    <div class="permissions-view mb-4">
        @if (!string.IsNullOrWhiteSpace(Resource))
        {
            <h3 class="h4">@Resource</h3>
        }
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Feature</th>
                    <th class="w-75">Beschrijving</th>
                    <th>Permissie</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var selectedPermission in Datasource)
                {
                    <tr>
                        <td>
                            <span class="d-block">
                                @selectedPermission.Action.GetName()
                            </span>
                        </td>
                        <td>
                            <span class="d-block">
                                @selectedPermission.Description
                            </span>
                            @if (!string.IsNullOrWhiteSpace(selectedPermission.ActionId))
                            {
                                <small class="text-muted">
                                    @selectedPermission.ActionId
                                </small>
                            }
                        </td>
                        <td>
                            <div class="form-check form-switch d-inline-block p-0 m-0">
                                <input @bind="selectedPermission.HasAccess"
                                       @oninput="x => OnChanged(x, selectedPermission)"
                                       class="form-check-input m-0 mt-2"
                                       type="checkbox" />
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {

    [Parameter]
    public string? Resource { get; set; }

    [Parameter, EditorRequired]
    public IEnumerable<UserPermission> Datasource { get; set; } = [];

    [Parameter, EditorRequired]
    public Func<ChangeEventArgs, UserPermission, Task> OnChanged { get; set; } = null!;

}
