@page "/protected"

@using CleveCoding.PermissionsApp
@using CleveCoding.Permissions.Services

@attribute [RequirePermission(nameof(Items), UserActionType.ViewDetails)]
@attribute [RequirePermission(nameof(Items), UserActionType.Update)]

@inherits ProtectedComponent

@inject IPermissionService PermissionService

<h3>SecurePage</h3>
<p>You have access!</p>

@if (currentUserPermissions is not null)
{
    <ul>
        @foreach (var permission in currentUserPermissions)
        {
            <li>Resource: @permission.Resource -- Action: @permission.Action -- Has Access: @permission.HasAccess</li>
        }
    </ul>
}

@code {

    private IEnumerable<UserPermission>? currentUserPermissions;

    protected override async Task OnInitializedAsync()
    {
        // await PermissionService.SetUserPermissionsAsync(new UserPermission
        // {
        //     UserId = UserAccessor.CurrentUser!.AccountName,
        //     Action = UserActionType.Update,
        //     Resource = nameof(Items),
        //     HasAccess = true
        // }, true);

        currentUserPermissions = await PermissionService.GetUserPermissionsAsync(UserAccessor.CurrentUser!);

        await base.OnInitializedAsync();
    }

}