@page "/errors/forbidden/{Resource?}/{Action?}"

@using CleveCoding.Permissions.Exceptions
@using CleveCoding.Permissions.Models

<PageTitle>Access Denied</PageTitle>

<div class="alert alert-danger">
    <h3>Access Denied</h3>
    <p>@ForbiddenException.DefaultErrorMessage</p>

    <div class="mt-2 small text-muted">
        @if (!string.IsNullOrWhiteSpace(Resource))
        {
            <span>Resource: @Resource</span>
        }
        @if (Action != null)
        {
            <span> -- Action: @Action</span>
        }
    </div>
</div>

@code {

    [Parameter]
    public string? Resource { get; set; }

    [Parameter]
    public UserActionType? Action { get; set; }

}