.toggle-audits {
    background: #333;
    border-radius: 50%;
    display: inline-block;
    transform: translateX(-30px);
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.col-3:has(.toggle-audits.closed) {
    background: #fff !important;
    transform: translateX(100%);
    width: 0;
    padding: 0;
}

    .col-3:has(.toggle-audits.closed) ::deep .audits-view {
        overflow: hidden;
    }

::deep .list-group.list-group-numbered li:hover {
    background: #eee;
    cursor: pointer;
}

::deep .list-group.list-group-numbered li.selected {
    background: #cfe2ff;
}

::deep .tooltip-icon {
    background: #052c65;
    border: 2px solid #cfe2ff;
    border-radius: 50%;
    display: inline-block;
    vertical-align: super;
    margin-left: 5px;
    position: relative;
    width: 21px;
    height: 21px;
    cursor: help;
    text-align: center;
    font-size: 12px;
    color: #cfe2ff;
}

    ::deep .tooltip-icon::before {
        content: 'i';
        position: relative;
    }

    ::deep .tooltip-icon :first-child {
        display: none;
    }

    ::deep .tooltip-icon:hover :first-child {
        background: #cfe2ff;
        border-radius: 3px;
        position: absolute;
        display: block;
        padding: 10px;
        width: fit-content;
        left: 20px;
        color: #052c65;
    }


::deep .table td {
    vertical-align: middle;
}

::deep .quickgrid tbody tr:not([aria-rowindex]) {
    display: none !important;
}

::deep .quickgrid tbody td {
    height: 1.5em !important;
    padding: .5rem .5rem !important;
}

::deep .paginator .summary {
    padding-left: 10px;
}
